
<div class="card mb-2">
  <div class="card-body">
    <div class="card-title h5">
      <%=item.name%>
    </div>
    <div class="card-text lead mb-2"><%= item.count %></div>
    <!-- link to increment-->
    <!-- link to decrement-->
    <!-- link to delete-->
  </div>
</div>
